.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 35%;
  background-color: #818181;
  list-style: none;
  
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

}

 

input[type="checkbox"]{
  margin-right: 10px;
}